## Maven ##
/target/
/.venv/

## Eclipse ##
/.classpath
/.project
/.settings/

## vim ##
*.swp

## Interactive tests ##
/samples/

## MacOSX
.DS_Store

## SciJava release tools
pom.xml.releaseBackup

.venv/**
**/__pycache__/**

.vscode/**
src/main/resources/model/**

fiji-linux64.zip
Fiji.app/
